@import 'scss/variables/_colors';

.container {
  padding-top: 32px;
}

.book-list-container {
  gap: 36px;
  max-width: 900px;
  width: 100%;
}

.book-container {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $shadow-box;
  height: 300px;
  padding: 28px;
  width: 198px;

  .book-cover {
    width: 142px;
    height: 200px;
  }
}
