@import "scss/variables/_colors";

.btn {
  border-radius: 5px;
  height: 32px;
  width: 100%;

  &.primary {
    background-color: $wolox-green;
    color: $white;
  }

  &.secondary {
    background-color: $wild-sand;
    border: 1px solid $wolox-green;
    color: $wolox-green;
  }
}

.loader {
  align-self: center;
}
