@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "~wolox-equalizer/equalizer";

@import "layout";

@import "margins";

@import "components";

// TODO: Edit this global styles

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, "Droid Sans", sans-serif;
  width: calc(100% - 15px); // give space for the scrollbar in order to mantain screens alignment
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Roboto;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn {
  background-color: $wolox-green;
  border-radius: 5px;
  color: $white;
  height: 32px;
  width: 100%;

  &.secondary {
    align-items: center;
    background-color: $wild-sand;
    border: 1px solid $wolox-green;
    color: $wolox-green;
    display: flex;
    justify-content: center;
  }
}
