$black: #000;
$blue: #00F;
$gray: #CCC;
$gray-darker: #828282;
$red: #F00;
$shadow-box: rgba(0,0,0,0.5);
$silver-chalice:  #A8A8A8;
$white: #FFF;
$wild-sand: #F4F4F4;
$wolox-blue: #00ADEE;
$wolox-green:  #BED23C;
